@page "/checkout"
@using OnlineShop.Models
@using OnlineShop.Models.Forms
@using OnlineShop.States
@using OnlineShop.Shared
@using OnlineShop.Utilities
@using OnlineShop.Pages.Paypal
@inject IJSRuntime JSRuntime
@inject CartState CartState
@inject INotificationService NotificationService
@inject NavigationManager NavigationManager

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <img src="Images/Banner/logo_Final.png" class="img-fluid" alt="Logo">
    </div>
  </div>
</div>
<hr/>
@if(ShowWarningText)
{
    <div class="d-flex justify-content-center" style="color: red;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
        </svg>
        <i class="bi bi-flag-fill"></i>
        <p class="product-description-bold">Please Enter Sizes for Your Item(s)</p>
        <i class="bi bi-flag-fill"></i>
    </div>
}


<h3 class="product-description-bold-large">Checkout</h3>





@if (_isInitialized)
{
    @foreach (var selectedItem in CartState.SelectedItems)
    {
        <CheckoutDisplay TotalPrice="@TotalPriceGet" 
                         Product="selectedItem" 
                         DisplayBuyButton="false" 
                         DisplayRemoveButton="true" 
                         OnRemoveProduct="@(() => RemoveProductFromCart(selectedItem.Id))" 
                         TotalPriceChanged="@(e => HandleTotalPriceChanged(e))"
                         ValueQuantityMatch="@ValueQuantityMatch" 
                         ValueQuantityMatchChanged="@(e => ValueQuantityMatch = e)"
                         ShowSizeWarning="@ShowSizeWarning" />
    }
}


<!--
<div style="text-align: center;">

    <p>You have @CartState.SelectedItems.Count item(s) in your cart.</p>
    <p>Total Price: @ShowtotalPrice</p>
    <p>Total Quantity: @CartState.SelectedItems.Sum(p => p.ItemQuantity)</p>
    
</div>
-->

@if(CartState.SelectedItems.Count > 0)
{
    <br/>
    <div class="d-flex justify-content-center">
    <button class="btn btn-success product-description-bold" type="button" @onclick="PaymentPage">Pay Now</button>
    </div>
    <br/><br/>
}
@if(CartState.SelectedItems.Count == 0)
{
    <p class="product-description-display">Your Cart is Empty</p>
    <button class="btn btn-success product-description-bold" type="button" @onclick="ProductPage">View Products</button>
}

<!--
@if(@CartState.SelectedItems.Count != 0)
{
    <PayPalButton CheckoutFormName="@CheckoutForm.Name" BoundTotalPrice="@BoundTotalPrice" />
}

 Quantity is @quantity

<EditForm class="vstack gap-3" Model="CheckoutForm" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div>
        <label class="form-label" for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="CheckoutForm.Name"></InputText>
        <ValidationMessage class="form-control" For="()=>CheckoutForm.Name"></ValidationMessage>
    </div>

    <div>
        <label class="form-label" for="address">Address:</label>
        <InputText id="address" class="form-control" @bind-Value="CheckoutForm.Address"></InputText>
        <ValidationMessage class="form-control" For="()=>CheckoutForm.Address"></ValidationMessage>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

-->

    @code {
    private decimal TotalPrice => (decimal)CartState.SelectedItems.Sum(p => p.Price);
    public CheckoutForm CheckoutForm { get; set; } = new();
    private int SelectedItemsCount { get; set; }

    private async Task SubmitAsync()
    {
        await JSRuntime.InvokeVoidAsync("alert", $"Thank you {CheckoutForm.Name}, we will deliver to {CheckoutForm.Address}.");
    }


    }

    
    @code {

        // Assuming SelectedItemsCount is declared and set properly in this component
        private int SelectedItemsCartCount { get; set; }

        public Product Product { get; set; } = new();
        private decimal BoundTotalPrice { get; set; }
        public decimal totalPrice;
        [Parameter]
        public int quantity {get; set;} = 1;

        private string localStoragePrice {get; set;}
        private bool _isInitialized = false;

        private int currentQuantity = 0;

        private void CalculateQty()
        {
           totalPrice = @quantity * TotalPrice;
        }

        private void HandleTotalPriceChanged()
        {
            totalPrice = TotalPrice;
        }

        protected override async Task OnInitializedAsync()
        {
            await NotificationService.Subscribe<CartChangeEvent>(UpdateItemCount);
            SelectedItemsCartCount = CartState.SelectedItems.Count;
            //BoundTotalPrice = TotalPrice;
            HandleTotalPriceChanged();
            localStoragePrice = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "TotalPrice");
            await base.OnInitializedAsync();
            var ResetPrice = 0;
            await HandleQuantityChangePrice(ResetPrice);
            _isInitialized = true;
             await base.OnInitializedAsync();

        }

        private void UpdateItemCount(CartChangeEvent @event)
        {
            SelectedItemsCartCount = @event.Items.Count;
            StateHasChanged();
        }

    }

    @code {
        private async Task HandleQuantityChangePrice(int newQuantity)
        {
            var ResetPrice = 0;
            
            // Handle the quantity change here
            await JSRuntime.InvokeVoidAsync("localStorage.setItem","TotalPrice",ResetPrice);
            
        }
    }

@code {
    private void RemoveProductFromCart(Guid productId)
    {
        CartState.SelectedItems.RemoveAll(p => p.Id == productId);
        NotificationService.Publish(new CartChangeEvent { Items = CartState.SelectedItems });
    }
}

@code {
    private decimal CalculateTotalPrice()
    {
        return (decimal)CartState.SelectedItems.Sum(p => p.Price * p.Quantity);
    }
}



@code {
    [Parameter]
    public int ValueQuantity {get; set;}

    [Parameter]
    public int ValueQuantityMatch { get; set; }

    [Parameter]
    public EventCallback<int> ValueQuantityMatchChanged { get; set; }

    [Parameter]
    public int TotalValueQuantityMatchLMS { get; set; }

    [Parameter]
    public int TotalValueQuantityMatchProduct { get; set; }

    private bool SwitchStatementQuantity {get; set;} = false;

    private int CountTracker { get; set;} = 0;

    private int CountTrackerWatch { get; set;} = 0;

    private void NavigateToPaymentPage()
    {
            NavigationManager.NavigateTo("/payment");  
    }
    private bool ShowSizeWarning = false;
    private int ClickCounter = 0;
    private bool ShowWarningText = false;
    private void PaymentPage()
    {
        ShowSizeWarning = false;
        if (CartState.SelectedItems.All(p => p.LargeShrit > 0 || p.MediumShrit > 0 || p.SmallShrit > 0))
        {
            NavigationManager.NavigateTo($"/payment?price={CartState.SelectedItems.Sum(p => p.Price)}");
        }
        else
        {
            // Handle the case where not all products have a non-zero shirt size
            ShowSizeWarning = true;
            ClickCounter += ClickCounter;
            ShowWarningText = true;
        }
        if(ClickCounter == 2)
        {
            ClickCounter = 0;
            ShowSizeWarning = false;
        }
    }
    private void ProductPage()
    {
         NavigationManager.NavigateTo("/product-list");
    }
}

@code {
    private bool IsPayPalButtonVisible { get; set; } = false;

    private void TogglePayPalButtonVisibility()
    {
        IsPayPalButtonVisible = !IsPayPalButtonVisible;
    }

    
}


@code {
    private async Task UpdateTotalPrice(Product product, int quantity)
    {
        //product.Quantity = quantity;
        totalPrice = (decimal)CartState.SelectedItems.Sum(p => p.Price * p.Quantity);
        StateHasChanged();
    }
}


@code
{
    public event Action<decimal> TotalPriceChanged;
        private void CalculateTotalPriceCart()
    {
        totalPrice = (decimal)Product.Price * quantity;
        TotalPriceChanged?.Invoke(totalPrice);
        
    }
}






@code {
    private decimal TotalPriceGet { get; set; }

    private async Task OnTotalPriceChanged(decimal newTotalPriceGet)
    {
        TotalPriceGet = newTotalPriceGet;
        // Example: Perform additional actions or update UI based on the new total price
        await Task.Delay(1000); // Simulating an asynchronous operation
    }
}

@code{
    private int TotalQuantityGet {get; set; }

    private async Task OnTotalQuantityChanged(int newTotalQuantityGet)
    {
        TotalQuantityGet = newTotalQuantityGet;
        await Task.Delay(1000);
    }
}

@code {
    /*
    private int Qty {get; set;} 
    private void HandleQuantityChange(int newQuantity)
    {
        // Handle the quantity change here
        Qty = newQuantity;
    }
    */
    
}

@code {
    /*
    private Dictionary<Guid, int> ItemQuantities { get; set; } = new Dictionary<Guid, int>();

    private int TotalQuantity { get; set; }

    private void HandleQuantityChange(Guid itemId, int newQuantity)
    {
        
        //if (ItemQuantities.ContainsKey(itemId))
        if(false)
        {
            TotalQuantity -= ItemQuantities[itemId];
        }
        ItemQuantities[itemId] = newQuantity;
        //TotalQuantity += newQuantity;

    }
    */
}




@code {
    private decimal ShowtotalPrice;

    private void HandleTotalPriceChanged(decimal ShowtotalPrice)
    {
        this.ShowtotalPrice = ShowtotalPrice;
        StateHasChanged();
    }
    
}
